html, body {
  width: 100%;
  height: auto;
  background-color: #F5F7FA;
  padding: 0;
  margin: 0;
  position: absolute;
}

h1 {
  font-family: helvetica;
  font-size: 3rem;
  color: black;
}

h2 {
  font-family: helvetica;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

p {
  font-family: helvetica;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

a {
  font-family: helvetica;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

a:hover {
  color: #2c3e50;
  cursor: pointer;
}

nav {
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  background-color: white;
  z-index: 3;
  display: inline-block;
  margin: 0;
}

nav ul li {
  list-style: none;
  float: right;
  margin-right: 30px;
  padding: 0;
  margin-bottom: 0;
}

nav a {
  color: black;
  margin: 0;
  padding: 0;
}

.navButtonA {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(50, 186, 155);
  margin-right: 0px;
  height: 30px;
  width: auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: right;
}

.navButtonB {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(81,135,198);
  height: 30px;
  width: auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.welcome {
  width: 100%;
  height: 1300px;
  /*background-image: url("../img/IMG_0330.jpg");
  background-size: cover;*/
  background-color: white;
  position: relative;
  padding: 0;
  margin: 0;
}

.title{
  position: relative;
  left: 120px;
  top: 120px;
  height: 300px;
  width: 400px;;
  margin: 0;
  z-index: 2;
}

.brandAsset {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url('../img/brand_asset_line.png');
  background-size: cover;
  margin-top: 250px;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:rgb(50, 186, 155);
}

.button {
  position: relative;
  font-size: 24px;
  color: rgb(81,135,198);
  background-color: white;
  margin-top: 15px;
  height: 50px;
  width: auto;
  border-width: 2px;
  border-radius: 3px;
  border-color: rgb(50, 186, 155);
  cursor: pointer;
  float: left;
}

.h1container {
  padding-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: grid;
	grid-template-areas: "content content" "header header" "left right" "footer footer";
	grid-template-columns: 50% 50%;
	grid-template-rows: 3px 1200px 800px 300px;
  max-width: 90%;
  height: auto;
  position: relative;
  margin: 0px auto;
  grid-gap: 10px;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 3px 2px #E6E9ED;
  border-radius: 5px;
  overflow: hidden;
}

.content {
  grid-area: content;
  position: relative;
}

header {
  grid-area: header;
  position: relative;
  text-align: center;
}


.left {
	grid-area: left;
  position: relative;
}

.right {
	grid-area: right;
  position: relative;
}

footer {
	grid-area: footer;
  position: relative;
}
