html, body {
  width: 100%;
  height: auto;
  /* background-color: #F5F7FA; */
  background-color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  font-family: helvetica;
  color: #5c5c5c;
}

h1 {
  font-family: helvetica;
  font-size: 2.2rem;
  color: #5c5c5c;
}

h2 {
  font-family: helvetica;
  font-size: 1.5rem;
  color: #5c5c5c;
}

h3 {
  font-family: helvetica;
  font-size: 1.5rem;
  color: #5c5c5c;
  font-style: italic;
}

p {
  font-family: helvetica;
  text-align: center;
  color: #5c5c5c;
  font-size: 1.5rem;
}

a {
  font-family: helvetica;
  text-align: center;
  color: black;
}

ul {
  list-style-type: none;
}

li a {
  font-family: helvetica;
  text-align: center;
  color: #5c5c5c;
}

li a:hover {
  color: rgb(81,135,198)
}

a:hover {
  color: #2c3e50;
  cursor: pointer;
}

nav {
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  background-color: white;
  z-index: 3;
  display: inline-block;
  margin: 0;
}

nav ul li {
  list-style: none;
  float: right;
  margin-right: 30px;
  padding: 0;
  margin-bottom: 0;
}

nav a {
  color: black;
  margin: 0;
  padding: 0;
}

.navButtonLogin {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(50, 186, 155);
  margin-right: 0px;
  height: 30px;
  width: auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  float: right;
}

.navButtonJoin {
  font-size: 1.1rem;
  color: white;
  background-color: rgb(81,135,198);
  height: 30px;
  width: auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.welcome {
  width: 100%;
  height: 800px;
  /*background-image: url("../img/IMG_0330.jpg");
  background-size: cover;*/
  background-color: white;
  position: relative;
  padding: 0;
  margin: 0;
}

.welcome-container {
  position: relative;
  left: 120px;
  right: 120px;
  top: 120px;
  height: 600px;
  width: 1500px;
  margin: 0;
}

.title{
  position: relative;
  float: left;
  height: 300px;
  width: 400px;
  margin: 0;
}

.landing-image {
  position: relative;
  float: right;
  margin-right: 70px;
}

.landing-image img {
  border-radius: 50%;
}

.brandAsset {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url('../img/brand_asset_line.png');
  background-size: cover;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:rgb(50, 186, 155);
}

.button {
  position: relative;
  font-size: 24px;
  color: black;
  background-color: white;
  margin-top: 150px;
  height: 50px;
  width: auto;
  border-width: 2px;
  border-radius: 3px;
  border-color: black;
  cursor: pointer;
  /* float: left; */
}

.button:hover {
  color: rgb(50, 186, 155);
  border-color: rgb(50, 186, 155);
}

.h1container {
  padding-top: 50px;
  margin-bottom: 50px;
}

.containerFeatures {
  display: grid;
	grid-template-areas: "oneA oneB" "twoA twoB" "threeA threeB" "fourA fourB";
	grid-template-columns: 50% 50%;
	grid-template-rows: 400px 400px 400px 400px;
  max-width: 80%;
  height: auto;
  position: relative;
  margin: 0px auto;
  grid-gap: 10px;
  justify-content: center;
  background-color: white;
  /* box-shadow: 3px 3px 2px #E6E9ED; */
  border-radius: 5px;
  overflow: hidden;
}

.image-helper {
  height: 100%;
}

.oneA {
  grid-area: oneA;
  position: relative;
  text-align: center;
}

.oneA img {
  position: relative;
  top: 90px;
}

.oneB {
  grid-area: oneB;
  position: relative;
  padding: 20px;
}

.twoA {
  grid-area: twoA;
  position: relative;
  padding: 40px;
}

.twoB {
  grid-area: twoB;
  position: relative;
  text-align: center;
}

.twoB img {
  position: relative;
  top: 90px;
}

.threeA {
  grid-area: threeA;
  position: relative;
  padding: 40px;
}

.threeA img {
  position: relative;
  top: 90px;
}

.threeB {
  grid-area: threeB;
  position: relative;
}

.fourA {
  grid-area: fourA;
  position: relative;
  padding: 40px;
}

.fourB {
  grid-area: fourB;
  position: relative;
  text-align: center;
}

.fourB img {
  position: relative;
  top: 90px;
}

.experts {
  position: relative;
  height: 200px;
  background-color: rgb(81,135,198);
  color: white;
  padding: 25px;
  overflow: hidden;
}

.experts p {
  color: white;
}

.experts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.experts ul li:before {
  content: '✓';
}

.containerStart {
  display: grid;
	grid-template-areas: "solo quiz";
	grid-template-columns: 50% 50%;
	grid-template-rows: 500px;
  max-width: 80%;
  height: auto;
  position: relative;
  margin: 0px auto;
  grid-gap: 10px;
  justify-content: center;
  background-color: white;
  /* box-shadow: 3px 3px 2px #E6E9ED; */
  border-radius: 5px;
  overflow: hidden;
}

.solo {
	grid-area: solo;
  position: relative;
}

.quiz {
	grid-area: quiz;
  position: relative;
  text-align: center;
}

footer {
  position: relative;
  text-align: left;
  height: 400px;
  background-color: rgb(50, 186, 155);
  padding: 40px;
  color: white;
}

footer p {
  color: white;
}

.containerFooter {
  display: grid;
	grid-template-areas: "one two three four five six";
	grid-template-columns: 16% 16% 16% 16% 16% 16%;
	grid-template-rows: 300px;
  max-width: 90%;
  height: auto;
  position: relative;
  margin: 0px auto;
  grid-gap: 10px;
  background-color: rgb(50, 186, 155);
  /* box-shadow: 3px 3px 2px #E6E9ED; */
  border-radius: 5px;
  overflow: hidden;
}

.one {
  grid-area: one;
  position: relative;
}

.two {
  grid-area: two;
  position: relative;
}

.three {
  grid-area: three;
  position: relative;
}

.four {
  grid-area: four;
  position: relative;
}

.five {
  grid-area: five;
  position: relative;
}

.six {
  grid-area: six;
  position: relative;
}

.item-1,
.item-2,
.item-3 {
	position: absolute;
  display: block;
	top: 4em;

  width: 100%;

  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
