.quizContainer {
    top: 50%;
    left: 50%;
    width:400px;
    height:600px;
    margin-top: -300px; /*set to a negative number 1/2 of your height*/
    margin-left: -200px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: white;
    position:fixed;
    text-align: center;
}

.quizContainer p {
  font-size: 1.4rem;
}

.quizNav {
  height: 60px;
  line-height: 60px;
  position: relative;
  background-color: #86c1e5;
  color: white;
}

.quizNav p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.containerCards {
  display: grid;
	grid-template-areas: "quizText" "card1" "card2" "card3";
	grid-template-columns: 100%;
	grid-template-rows: 80px 100px 100px 100px;
  max-width: 90%;
  height: auto;
  position: relative;
  margin: 0px auto;
  padding-top: 0px;
  grid-gap: 10px;
  justify-content: center;
  background-color: white;
  /* box-shadow: 3px 3px 2px #E6E9ED; */
  overflow: hidden;
  text-align: center;
}

.containerCards p {
  font-size: 1.2rem;
  line-height: 30px;
}

.containerCards p:hover {
  color: rgb(81,135,198);
}

.quizText {
  grid-area: quizText;
  position: relative;
  background-color: white;
  line-height: 20px;
  bottom: 10px;
}

.quizText p {
  font-size: 1.4rem;
}

.quizText p:hover {
  font-size: 1.4rem;
  color: #5c5c5c;
}

.card1 {
  grid-area: card1;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  border: solid #f3f3f3;
}

.card2 {
  grid-area: card2;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  border: solid #f3f3f3;
}

.card3 {
  grid-area: card3;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  border: solid #f3f3f3;
}

.assetContainer {
  position: relative;
  top: 30px;
  height: 70px;
  width: auto;
  overflow: hidden;
  z-index: -1;
}

.referralExplanation {
  position: relative;
  top: 20px;
}
